* {
  margin: 0;
  padding: 0;
}
.container {
  margin-top: 20px;
  background: #e9e6e6;
  width: 90%;
  margin: 1.6 auto;  
  display: grid;
  gap: 1.6em;
  grid-template-columns: repeat(5, 1fr);
  place-content: center;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  

}

.container > .navbar,
.container > .title,
.container > .sidebar,
.container > .content,
.container > .Footer {
  background: #faf7f7;
  padding: 20px;
  border: 1px solid #000000;
}

.container .navbar,
.container .Footer {
  grid-column: 1/6;

  box-shadow: #e7f1ff;
}

.container > .title {
  grid-column: 1/6;
}

.container > .sidebar {
  grid-column: span 2;
}

.container > .content {
  grid-column: span 3;
}

.navbar {
  display: flex;
  height: 100px;
}
.logo {
  margin-left: 262px;
  width: 463px;
  height: 89px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  
}