*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}
body {
  font-family: "Asap", Arial, Helvetica, sans-serif !important;
  font-weight: normal !important;
  font-size: 18px !important;
}

.container_header {
  max-width: 95%;
  width: 100vw;
}
.logoCarvajal {
  display: block;
  padding-left: 10vw;
  max-width: 463px;
  width: 100%;
  height: 89px;
}

.navbar {
  background: #fff;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  ul {
    display: flex;
  }

  li {
    margin: 25px;
    margin-right: 30px;
    list-style: none;
  }
  a {
    color: #585e61 !important;
    text-decoration: none;
    display: block;
  }
  a:hover {
    color: #05aebf !important;
    font-family: "Asap", Arial, Helvetica, sans-serif !important;
    font-size: 18px !important;
    border-bottom: 3px solid #05aebf !important;
  }
  .active {
    font-weight: bold !important;
    color: #05aebf !important;
    font-family: "Asap", Arial, Helvetica, sans-serif !important;
    font-size: 18px !important;
    border-bottom: 3px solid #05aebf !important;
  }
}
.invApp {
  color: #585e61 !important;
  font-size: 35px;
  padding: 0 25px;
  font-weight: bold;
}
.btn-menu {
  margin-right: 30px;
  cursor: pointer;
  display: none;
}
